@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Staatliches&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #E5E5E5;
    font-family: 'Poppins', sans-serif;
}

body::before{
    content: '';
    width: 100%;
    background: #293241;
    height: 465px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hd-content{
    max-width: 750px;
    margin: 0 auto 100px;
    position: relative;
    
}

header{
    max-width: 391px;
    margin: 107px auto 0;
    
}

header h1{
    font: 36px'Staatliches', sans-serif;
    line-height: 45px;
    color: #fff;
    text-align: center;
}

header p{
    font: 16px 'Poppins' sans-serif;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 27px;
}

header > img{
    display: block;
    margin: auto;
    width: 225px;
    margin-bottom: 32px;
}

form{
    background: #fff;
    padding-bottom: 64px;
    border-radius: 20px;
    
}


fieldset .main-field{
    font: 24px'Staatliches', sans-serif;
    line-height: 34px;
    color: #fff;
    text-align: center;
    height: 130px;
    background: #F67669;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0;
   
    
}

form fieldset{
    border: none;
   
}

form span{
    font-size: 12px;
    line-height: 20px;
    color: #C1BCCC;
    margin-left: 9px;
}

form fieldset label{
    font-size: 14px;
    line-height: 24px;
    color:  #4E4958;
}

form fieldset input{
    padding: 0 10px;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    height: 55px;
}

form fieldset .main-field-content{
    margin: 31px 64px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.wrapper-names{
    display: flex;
    flex-direction: row;
    gap: 22px;   
}

form .names{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

fieldset .sec-content{
    font: 24px'Staatliches', sans-serif;
    line-height: 34px;
    color: #253B51;
    text-align: center;
    border-bottom: 1px solid #E6E6F0;
    margin: 0 64px;
    padding-bottom: 7px;
}

.main-field-content select{
    padding: 0 10px;
    height: 55px;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    background: #FFFFFF;
    font-size: 14px;
    line-height: 24px;
    color:  #4E4958;
    margin-bottom: 15px;
    width: 50%;
}

.main-field-content textarea{
    padding: 0 10px;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    font-size: 14px;
    line-height: 24px;
    color:  #000000;
    height: 167px;
    resize: none;
}

fieldset .c-box{
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 15px;
    
}

fieldset .c-box input{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    opacity: 0;
    
}
.c-box label{
    display: flex;
    gap: 8px;
}


.c-box label::before{
    content: '';
    height: 24px;
    width: 24px;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    display: inline-block;
}

.c-box input:checked + label::before{
    background: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
   background-repeat: no-repeat;
   background-position: center;
}

.c-box input:focus + label::before{
   outline: 1px solid black;
}

.field-wrap{
    padding: 31px 64px;
}

.data-time{
    display: flex;
    width: 100%;
    gap: 32px;
}

.data-wrap{
    width: 50%;
}

.hours{
    display: flex;
    width: 50%;
    gap: 10px;
}

.btn-submit{
    padding: 31px 64px;
}

.btn-submit button{
    width: 100%;
    font: 20px 'Staatliches', sans-serif;
    line-height: 26px;
    color: #FFF;
    height: 51px;
    background: #F67669;
    border-radius: 8px;
    border: 1px solid #E6E6F0;
    cursor: pointer;
}

.btn-submit button:hover{
    background: #d85142;
    transition-duration: .5s;
}






